.main
	&__top
		background-color: $bg-color--dark
		background-image: url(../img/bg/map.png)
		background-repeat: no-repeat
		background-position: 213% 2.5%
		// background-position: 232px 17px 

		+xs 
			background-image: none

.header
	position: absolute
	top: 0
	left: 0
	right: 0
	padding: 50px 70px
	z-index: 10

	+xs 
		padding: 40px 20px

	&__logo
		margin-left: 45px

		+xs 
			margin: 0 auto

.logo 
	display: block

	&__img
		display: block
		max-width: 100%
		height: auto
		object-fit: cover

		+xs 
			margin: 0 auto

.section-banner
	padding: 68px 0 24px
	color: #fff
	position: relative
	

.banner
	display: block
	padding: 48px 0

	+xs 
		padding: 30px 0

	&__title
		display: block
		margin-bottom: 16px
		+helvetic-font
		font-size: 50px
		font-weight: 700
		line-height: 1
		letter-spacing: 6px
		color: #ffffff
		text-transform: uppercase
		text-decoration: none

		+r(860)
			font-size: 40px
			letter-spacing: 3px

		+xs 
			font-size: 30px
			letter-spacing: 2px

	&__descr
		display: block
		padding-left: 4px
		font-size: 18px
		line-height: 1.44
		color: #ffffff
		text-align: justify
		text-decoration: none

	&__wrap
		position: relative
		display: flex
		height: 386px
		padding-left: 18px
		padding-right: 18px

		&::before 
			content: ""
			position: absolute
			left: 18px
			top: 0
			height: 100%
			width: calc(100% - 36px)
			border: 3px solid $color-decor

		+r(1250)
			height: auto

		+r(860)
			flex-wrap: wrap


	&__content
		z-index: 2
		width: 58%
		padding: 43px 27px 48px 48px
		// border: 1px solid #f7b400

		+r(1250)
			width: 65%

		+r(860)
			width: 100%
			padding: 25px 27px

	&__media-block
		z-index: 2
		position: relative
		width: 42%
		// border: 1px solid #f7b400

		+r(1250)
			width: 45%

		+r(860)
			width: 100%
			display: flex
			justify-content: center
			align-items: center
			padding: 0 10px 20px 10px

	&__img-wrap
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

		+r(860)
			position: relative
			top: auto
			left: auto
			transform: none

	&__img    
		display: block
		background: pink
		margin-left: auto
		object-fit: cover

		&--normal
			width: 217px
			height: 217px
			margin-right: 236px
			margin-top: -156px

			+lg 
				margin-top: -125px

			+r(1250)
				width: 109px
				height: 109px
				margin: -46px 201px 0 auto

			+r(390)
				margin: -13px auto 0 auto

		&--small
			width: 122px
			height: 122px
			margin-right: 138px
			margin-top: -31px

			+r(1250)
				width: 61px
				height: 61px
				margin: -29px 156px 0px auto

		&--big 
			width: 499px
			height: 353px
			margin-top: -57px
			margin-right: -101px

			+lg 
				width: 455px
				height: 322px
				margin-top: -57px
				margin-right: -58px

			+r(1250)
				width: 250px
				height: 177px
				margin-left: auto		
				margin-right: 9px
				margin-top: 9px
				margin-bottom: auto

			+r(390) 
				margin: 0 auto

.section-advantages
	padding-top: 104px
	padding-bottom: 68px
	background-color: #f0ebe7

	+xs
		padding-top: 50px
		padding-bottom: 50px

	&__wrap
		padding: 0 146px

		+md 
			padding: 0 25px

		+xs 
			padding: 0 15px

	&__title
		margin-bottom: 87px
		text-align: center

		+xs
			margin-bottom: 35px

.zigzag 
	position: relative
	height: 8px
	width: 80px
	margin: 0 auto
	z-index: 1

	&:before,
	&:after 
		content: ""
		display: block
		position: absolute
		left: 0
		right: 0
		background-position: top left
		background-repeat: repeat-x
		background-size: 10px 10px
	
	&:before 
		height: 10px
		top: 117%
		background-image: linear-gradient(-135deg, #1d2c40 5px, transparent 0px), linear-gradient(135deg, #1d2c40 5px, transparent 0px)
	
	&:after
		height: 12px
		top: 100%
		background-image: linear-gradient(-135deg, #f0ebe7 5px, transparent 0px), linear-gradient(135deg, #f0ebe7 5px, transparent 0px)
		
	&--dark
		margin-left: 0

		&:before
			background-image: linear-gradient(-135deg, $color-decor 5px, transparent 0px), linear-gradient(135deg, $color-decor 5px, transparent 0px)
		
		&:after
			background-image: linear-gradient(-135deg, $bg-color--dark 5px, transparent 0px), linear-gradient(135deg, $bg-color--dark 5px, transparent 0px)
		
	&--light 
		&:before
			background-image: linear-gradient(-135deg, #bbbbbb 5px, transparent 0px), linear-gradient(135deg, #bbbbbb 5px, transparent 0px)
		
		&:after
			background-image: linear-gradient(-135deg, #f0ebe7 5px, transparent 0px), linear-gradient(135deg, #f0ebe7 5px, transparent 0px)
		


.sect-title
	position: relative
	padding-top: 35px
	+myriadpro-font
	font-size: 30px
	font-weight: 700
	line-height: 1.42
	letter-spacing: 3px
	color: #2c2e37
	text-transform: uppercase

	+xs 
		font-size: 20px
		letter-spacing: 2px

	&--dark 
		color: #ffffff
		font-weight: 400

		.zigzag




.advantage 
	$this: &

	&__wrap
		display: block
		text-decoration: none

		&:hover,
		&:focus
			.icon 
				fill: #fff
				stroke: #000
				transform: scale(1.1)
				transition: transform .4s ease-out
				stroke-dasharray: 2000
				stroke-dashoffset: 2000
				animation: dash 3.5s linear
				animation-fill-mode: forwards
				animation-delay: .1s

			#{$this}__ico
				background-color: rgba(#e6e0dc, 0.65)

			#{$this}__title
				text-decoration: underline	
		
	&__title
		+myriadpro-font
		font-size: 18px
		line-height: 1.33
		color: #2c2e37
		text-align: center

	&__ico
		width: 179px
		height: 179px
		margin-right: auto
		margin-left: auto
		margin-bottom: 30px
		padding: 70px
		color: #404041
		background-color: #e6e0dc
		border-radius: 100%
		background-image: url(../img/pic/polygon.png)
		background-position: center 27px
		background-repeat: no-repeat
		transition: transform .2s ease-out, background-color .3s
		transform: translate3d(0,0,0)

		&--marketing
			padding: 65px

		&--consumer
			padding: 60px

		&--tecknology
			padding: 57px 57px 41px 57px

		&--biotech
			padding: 52px

		&--media
			padding: 59px
			padding-bottom: 47px

		&--energy
			padding: 67px

		&--industrial
			padding: 67px

		&--utilities
			padding: 65px

		svg
			z-index: 99
			display: block
			width: 100%
			height: 100%
			fill: currentColor

.advantages-list
	display: flex
	flex-wrap: wrap

	&__item
		width: 33.33%
		padding: 0 30px
		margin-bottom: 80px

		+xs
			width: 100%
			margin-bottom: 30px

.logos
	background-color: #5e5e5e
	padding: 56px 0


	&__inner
		display: flex
		justify-content: center
		align-items: center

		+r(500)
			flex-direction: column

	&__item
		padding: 0 64px

		+md 
			padding: 0 20px

		+r(600) 
			padding: 0 10px

		+r(500) 
			&:not(:last-child) 
				margin-bottom: 25px

.section-info
	padding-top: 53px
	padding-bottom: 173px
	background-color: #f0ebe7
	background-image: url("../img/bg/bg-info.jpg")
	background-repeat: no-repeat
	background-position: bottom center
	background-size: cover

	+xs 
		padding-bottom: 66px

	&__title
		margin-bottom: 87px
		text-align: center

	&__feedback
		display: flex
		justify-content: center
		align-items: center
		margin-bottom: 200px

		+xs 
			flex-direction: column
			margin-bottom: 50px

	&__feedback-item
		width: 50%

		+xs 
			width: 100%

			&:not(:last-child)
				margin-bottom: 40px

	&__about
		+xs
			padding: 0 10px

.feedback
	position: relative
	padding: 36px 25px 17px

	&::before
		content: ""
		position: absolute
		top: 3px
		width: 24px
		height: 22px
		background-image: url("../img/pic/quote.png")
		background-repeat: no-repeat
		background-position: center center
		background-size: contain


	&__text
		margin-bottom: 16px
		font-size: 18px
		line-height: 1.83
		color: #646464

	&__info
		display: flex
		align-items: center

		+xs 
			flex-direction: column

	&__photo
		margin-right: 20px
		padding-top: 8px

		+xs 
			margin-right: 0
			padding-bottom: 8px

	&__person
		+xs 
			margin-bottom: 20px

	&__name
		display: block
		font-size: 16px
		line-height: 1.8
		font-weight: 700
		color: #113752
		text-decoration: none

	&__position
		display: block
		line-height: 1
		color: #113752
		text-decoration: none

	&__btn
		margin-left: 85px

		+xs 
			margin-left: 0
			text-align: center

.btn 
	display: inline-block
	padding: 0 15px 
	color: #ffffff
	font-size: 14px
	line-height: 2.9
	font-weight: 700
	text-align: center
	letter-spacing: 2.24px
	text-transform: uppercase
	text-decoration: none
	background-color: #0c283f
	border-radius: 5px
	user-select: none

	&:hover,
	&:focus
		background-color: #093559

	+xs 
		padding: 0 12px 
		letter-spacing: 1px


.btn-important
	display: inline-block
	padding: 0 74px 
	color: #ffffff
	font-size: 20px
	line-height: 2.9
	font-weight: 700
	text-align: center
	letter-spacing: 2px
	text-transform: capitalize
	text-decoration: none
	background-color: #06dbc4
	border-radius: 5px
	user-select: none

	&:hover,
	&:focus
		background-color: #07c4b0


.about 
	padding: 36px 30px 59px 30px
	background-color: rgba(#ffffff, 0.9)
	border-radius: 10px 
	box-shadow: 0px 5px 51px 0px rgba(0, 0, 0, 0.12)

	+xs 
		padding: 30px 15px

	&__wrap
		display: flex

		+xs 
			flex-direction: column
			align-items: center

	&__img
		width: 16%
		
		+xs 
			width: auto
			margin-bottom: 40px

	&__item
		width: 48%

		+xs
			width: auto
			margin-bottom: 35px


		&--main
			width: 34%
			margin-right: 0

.info-sect

	&__title
		display: block
		margin-bottom: 32px
		+opensans-font
		font-size: 36px
		line-height: 1
		letter-spacing: 5px
		font-weight: 700
		color: #0c283f
		text-transform: uppercase
		text-decoration: none

		+xs 
			margin-bottom: 20px
			letter-spacing: 3px
			text-align: center

	&__text
		padding-right: 30px
		+opensans-font
		font-size: 16px
		line-height: 1.8
		color: #383e4a
		text-decoration: none

	&__btn 
		margin-top: 17px

		+xs 
			text-align: center

	&__contacts
		margin-top: 29px

	&__contact-link
		display: block
		+opensans-font
		font-weight: 700
		font-size: 16px
		line-height: 1.81
		color: #383e4a
		text-decoration: none

.footer
	padding: 34px 0
	background-color: #bab7b0

	+xs 
		padding: 25px 15px

	&__wrap
		display: flex
		align-items: center

		+xs
			flex-direction: column

	&__copyriting
		display: block
		+opensans-font
		font-size: 13px
		line-height: 1.2
		color: #ffffff
		text-decoration: none

		+xs 
			margin-bottom: 20px

.section-form
	padding-bottom: 105px
	color: #fff
	background-color: $bg-color--dark

	+xs 
		padding: 0 0 40px 0

	&__wrap 
		padding: 0 17px

	&__title 
		margin-bottom: 11px

.form 
	$this: &
	letter-spacing: 0.3px

	&__item
		display: flex
		margin-bottom: 22px
		box-sizing: border-box
		background: #ffffff
		font-weight: normal
		font-size: 13px
		text-transform: uppercase
		line-height: 1.2
		color: #333
		border-radius: 3px

		+sm
			flex-wrap: wrap

		&--wrap
			+sm 
				background: none
				border-radius: 0

		&--textarea
			margin-bottom: 27px

	&__label
		position: relative
		width: 33.33%
		padding: 21px 0

		&:not(:last-child)::before
			content: ""
			position: absolute
			top: 0
			right: 0
			top: 50%
			transform: translate(0, -50%)
			width: 1px
			height: 35px
			background: #86939d

		+sm 
			margin-bottom: 15px
			background: #ffffff
			border-radius: 3px

		&--name
			width: 31%

			+md 
				width: 100%

		&--company
			width: 30%

			+md 
				width: 100%

		&--email
			width: 39%

			+md 
				width: 100%


	&__input
		position: relative
		width: 100%
		padding: 0 24px 
		font-size: 16px
		line-height: 1.25
		color: #383e4a		

	&__textarea 
		display: block
		width: 100%
		padding: 28px 21px 25px
		font-size: 16px
		line-height: 1.25
		color: #383e4a
		background-color: transparent
		border: none
		resize: none
		overflow: auto

	&__footer
		display: flex
		flex-direction: column

	&__submit
		display: flex
		flex-wrap: wrap
		align-items: center
		margin-bottom: 10px

		+xs 
			flex-direction: column
			align-items: flex-start

	&__btn 
		margin-right: 14px

		+md
			margin-right: 0

	&__info
		font-size: 18px
		line-height: 1.44
		color: #ffffff

		+md 
			font-size: 14px
			line-height: 1.2
			order: 1

	&__check
		display: flex
		align-items: center
		width: 100%
		margin-top: 9px
		user-select: none
		cursor: pointer

		&:hover
			#{$this}__check-btn
				border-color: #06dbc4

		+md 
			margin-bottom: 12px
			

	&__check-input
		display: none

		&:checked+#{$this}__check-btn 
			background-image: url(../img/ico/check.png)
			background-repeat: no-repeat
			background-position: center center
			background-size: 11px 7px


	&__check-btn
		display: inline-block
		width: 20px
		height: 19px
		margin-right: 10px
		border: 2px solid #ffffff
		border-radius: 1px
		transition: border-color .3s ease-out

	&__check-text
		text-decoration: underline


.social-list
	display: flex

	&__item
		&:not(:last-child)
			margin-right: 5px	

.social-btn
	position: relative
	display: block
	width: 39px
	height: 39px
	background-position: 50%
	background-repeat: no-repeat
	background-image: url(../img/ico/fb.jpg)

	&:hover
		opacity: 0.8

	&--fb
		background-image: url(../img/ico/fb.jpg)

	&--tw
		background-image: url(../img/ico/twit.jpg)

	&--in
		background-image: url(../img/ico/in.jpg)
		





