---
title: Mintebi Scout
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
<header class="header">
	<div class="container">
		<a class="header__logo  logo">
			<img class="logo__img" width="209" height="20" src="img/logo.png" alt="Mintebi Scout">
		</a>
	</div>
</header>

<main class="main">
	<section class="section-banner">
		<div class="container">
			<div class="sect-border">
				<div class="sect-border__wrap">
					<div class="sect-border__content">
						<h2 class="sect-border__title">
							We find the expertise you need
						</h2>
						<div class="sect-border__descr">
							No matter how niche the space, there are people out there with exactly the knowledge that you need. Mintebi Scout helps you find these people, using a combination of artificial intelligence, algorithms and old-fashioned research. We are currently offering our solution for free. That is how much we believe you will like it.
						</div>
					</div>

					<div class="sect-border__media-block">
						<div class="sect-border__img  sect-border__img--big"></div>
						<div class="sect-border__img"></div>
						<div class="sect-border__img  sect-border__img--small"></div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section-form">
		
	</section>


	<section class="section-advantages">
		<div class="container">
			<div class="section-advantages__title">
				<h2 class="sect-title">Subject-matter experts for...</h2>
			</div>

			<div class="section-advantages__wrap">
				<ul class="advantages-list">
					<li class="advantages-list__item  advantage">
						<a href="#" class="advantage__wrap">
							<div class="advantage__ico">
								{{mixins.icon('finance')}}
							</div>
							
							<div class="advantage__title">
								Finance, Private Equity & Venture Capital
							</div>
						</a>
					</li>

					<li class="advantages-list__item  advantage">
						<a href="#" class="advantage__wrap">
							<div class="advantage__ico">
								{{mixins.icon('finance')}}
							</div>
							
							<div class="advantage__title">
								Finance, Private Equity & Venture Capital
							</div>
						</a>
					</li>

					<li class="advantages-list__item  advantage">
						<a href="#" class="advantage__wrap">
							<div class="advantage__ico">
								{{mixins.icon('finance')}}
							</div>
							
							<div class="advantage__title">
								Finance, Private Equity & Venture Capital
							</div>
						</a>
					</li>


					<li class="advantages-list__item  advantage">
						<a href="#" class="advantage__wrap">
							<div class="advantage__ico">
								{{mixins.icon('finance')}}
							</div>
							
							<div class="advantage__title">
								Finance, Private Equity & Venture Capital
							</div>
						</a>
					</li>

					<li class="advantages-list__item  advantage">
						<a href="#" class="advantage__wrap">
							<div class="advantage__ico">
								{{mixins.icon('finance')}}
							</div>
							
							<div class="advantage__title">
								Finance, Private Equity & Venture Capital
							</div>
						</a>
					</li>

					<li class="advantages-list__item  advantage">
						<a href="#" class="advantage__wrap">
							<div class="advantage__ico">
								{{mixins.icon('finance')}}
							</div>
							
							<div class="advantage__title">
								Finance, Private Equity & Venture Capital
							</div>
						</a>
					</li>


					<li class="advantages-list__item  advantage">
						<a href="#" class="advantage__wrap">
							<div class="advantage__ico">
								{{mixins.icon('finance')}}
							</div>
							
							<div class="advantage__title">
								Finance, Private Equity & Venture Capital
							</div>
						</a>
					</li>

					<li class="advantages-list__item  advantage">
						<a href="#" class="advantage__wrap">
							<div class="advantage__ico">
								{{mixins.icon('finance')}}
							</div>
							
							<div class="advantage__title">
								Finance, Private Equity & Venture Capital
							</div>
						</a>
					</li>

					<li class="advantages-list__item  advantage">
						<a href="#" class="advantage__wrap">
							<div class="advantage__ico">
								{{mixins.icon('finance')}}
							</div>
							
							<div class="advantage__title">
								Finance, Private Equity & Venture Capital
							</div>
						</a>
					</li>


				</ul>
			</div>
		</div>
	</section>


	<section class="logos">
		<div class="container">
			<div class="logos__inner">

				<div class="logos__item">
					<img class="logos__img" src="img/pic/logo/logo1.png" alt="logo">
				</div>

				<div class="logos__item">
					<img class="logos__img" src="img/pic/logo/logo1.png" alt="logo">
				</div>

				<div class="logos__item">
					<img class="logos__img" src="img/pic/logo/logo1.png" alt="logo">
				</div>

			</div>
		</div>
	</section>


	<section class="section-info">
		<div class="container">
			<div class="section-advantages__title">
				<h2 class="sect-title">our Clients say</h2>
			</div>

			<div class="section-info__feedback">

				<div class="section-info__feedback-item  feedback">
					<div class="feedback__text">
						"Great experience! We needed an expert who could educate us about FDA & FTC approval procedures in the US. We quickly got in touch with the right expert, and the report was straight to the point with the learnings we were looking for."
					</div>

					<div class="feedback__info">
						<div class="feedback__photo">
							<img src="img/pic/feedback/feedback1.png" alt="Photo Christian Reventlow Trautner">
						</div>

						<div class="feedback__person">
							<div class="feedback__name">
								Christian Reventlow Trautner
							</div>
							<div class="feedback__position">
								Director of Business Development, Acteon Group
							</div>							 
						</div>
					</div>

					<div class="feedback__btn">
						<a href="#" class="btn">Find your expert</a>
					</div>
					
				</div>

				<div class="section-info__feedback-item  feedback">
					<div class="feedback__text">
						"Great experience! We needed an expert who could educate us about FDA & FTC approval procedures in the US. We quickly got in touch with the right expert, and the report was straight to the point with the learnings we were looking for."
					</div>

					<div class="feedback__info">
						<div class="feedback__photo">
							<img src="img/pic/feedback/feedback2.png" alt="Photo Christian Reventlow Trautner">
						</div>

						<div class="feedback__person">
							<div class="feedback__name">
								Christian Reventlow Trautner
							</div>
							<div class="feedback__position">
								Director of Business Development, Acteon Group
							</div>							 
						</div>
					</div>

					<div class="feedback__btn">
						<a href="#" class="btn">Find your expert</a>
					</div>
					
				</div>

			</div>

			<div class="section-info__about">
				<div class="about">
					<div class="about__wrap">
						<div class="about__img">
							<img src="img/pic/about.png" width="152" height="152" alt="img about">
						</div>

						<div class="about__item  info-sect">
							<div class="info-sect__title">
								About
							</div>
							<div class="info-sect__text">
								Mintebi Scout was founded by Andreas von Buchwald in early 2015. Andreas is a former investment manager with Axcel, a leading Nordic private equity firm. Our team of six is based in Copenhagen, Denmark, and we raised $400K in seed financing earlier this year. Mintebi Scout is a part of mintebi.com.
							</div>

							<div class="info-sect__btn">
								<a href="#" class="btn">Find your expert within 24hrs</a>
							</div>
							
						</div>

						<div class="about__item  about__item--main  info-sect">
							<div class="info-sect__title">
								Contact
							</div>
							<div class="info-sect__text">
								Mintebi ApS<br>
								Sankt Annae Plads 11<br>
								1250-Copenhagen, Denmark<br>
								VAT no.: 36428198<
							</div>

							<div class="info-sect__contacts">
								<a class="info-sect__contact-link" href="mailto:avb@mintebi.com">
				                    avb@mintebi.com
				                </a>
								<a class="info-sect__contact-link" href="tel:4540993822">
				                    (+45) 40 99 38 22
				                </a>
							</div>
							
						</div>	
					</div>
				</div>
			</div>
		</div>
	</section>
	
</main>

<footer class="footer">
	<div class="container">
		<div class="footer__copyriting">
			Copyright © 2015 Mintebi APS. All rights reserved. ngIf: !oldBrowser Terms & Conditions Privacy Policy end ngIf: !oldBrowser Mintebi APS, Sankt Annae Plads 11, 1250 Copenhagen, Denmark
		</div>
	</div>
</footer>

{% endblock %}
