---
title: Mintebi Scout
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
<header class="header">
	<div class="container">
		<a class="header__logo  logo">
			<img class="logo__img" width="209" height="20" src="img/logo.png" alt="Mintebi Scout">
		</a>
	</div>
</header>

<main class="main">

	<div class="main__top">
		<section class="section-banner">
			<div class="banner">
				<div class="banner__wrap  container">
					<div class="banner__content">
						<h2 class="banner__title">
							We find the expertise you need
						</h2>
						<div class="banner__descr">
							No matter how niche the space, there are people out there with exactly the knowledge that you need. Mintebi Scout helps you find these people, using a combination of artificial intelligence, algorithms and old-fashioned research. We are currently offering our solution for free. That is how much we believe you will like it.
						</div>
					</div>

					<div class="banner__media-block">
						<!-- <div class="banner__img  banner__img--big"></div> -->
						<div class="banner__img-wrap">
							<img  class="banner__img  banner__img--big" width="499" height="353" src="../img/pic/slide3.jpg" alt="banner image">
							<img  class="banner__img  banner__img--normal" width="499" height="353" src="../img/pic/slide2.jpg" alt="banner image">
							<img  class="banner__img  banner__img--small" width="499" height="353" src="../img/pic/slide1.jpg" alt="banner image">
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="section-form">
			<div class="container">
				<div class="section-form__wrap">
					<div class="section-form__title">
						<div class="zigzag  zigzag--dark"></div>
						<h2 class="sect-title  sect-title--dark">Make your expertise request</h2>
					</div>
					<form  class="form" action="" method="post">

						<div class="form__item  form__item--wrap">
							<label class="form__label  form__label--name">
								<input class="form__input" type="text" name="name" placeholder="Your name:" autocomplete="off" required>
							</label>

							<label class="form__label  form__label--company">
								<input class="form__input" type="text" name="company" placeholder="Company:" autocomplete="off" required>
							</label>

							<label class="form__label  form__label--email">
								<input class="form__input" type="email" name="email" placeholder="Your Email:" autocomplete="off" required>
							</label>
						</div>

						<div class="form__item  form__item--textarea">
							<textarea class="form__textarea" cols="30" rows="14" name="comment" placeholder="Expertise request:" required></textarea>
						</div>

						<div class="form__footer">

							<div class="form__submit">

								<div class="form__btn">	
									<button type="submit" class="btn-important">Submit</button>
								</div>

								<div class="form__info">
									<p class="form__info-text">Within 24hs you will have a list of subject-matter experts in your mailbox.</p>
									<p class="form__info-text">Your personal information and request is kept strictly confidential and only seen by the Mintebi Scout team.</p>
								</div>

								<label class="form__check">
					                <input class="form__check-input"type="checkbox" checked name="agree"> 
					                <span class="form__check-btn"></span>
									<span class="form__check-text">I Accept the Terms &amp; Conditions</span>
					            </label>

							</div>

							

			            </div>
			            
					</form>
				</div>
			</div>
		</section>
	</div>

<section class="section-advantages">
	<div class="container">
		<div class="section-advantages__title">
			<div class="zigzag"></div>
			<h2 class="sect-title">Subject-matter experts for...</h2>
		</div>

		<div class="section-advantages__wrap">
			<ul class="advantages-list">
				<li class="advantages-list__item  advantage">
					<a href="#" class="advantage__wrap">
						<div class="advantage__ico">
							{{mixins.icon('finance')}}
						</div>

						<div class="advantage__title">
							Finance, Private Equity &amp; Venture Capital
						</div>
					</a>
				</li>

				<li class="advantages-list__item  advantage">
					<a href="#" class="advantage__wrap">
						<div class="advantage__ico  advantage__ico--marketing">
							{{mixins.icon('marketing')}}
						</div>

						<div class="advantage__title">
							Marketing &amp; Advertising
						</div>
					</a>
				</li>

				<li class="advantages-list__item  advantage">
					<a href="#" class="advantage__wrap">
						<div class="advantage__ico  advantage__ico--consumer">
							{{mixins.icon('consumer')}}
						</div>

						<div class="advantage__title">
							Consumer &amp; Retail
						</div>
					</a>
				</li>


				<li class="advantages-list__item  advantage">
					<a href="#" class="advantage__wrap">
						<div class="advantage__ico  advantage__ico--tecknology">
							{{mixins.icon('tecknology')}}
						</div>

						<div class="advantage__title">
							Tecknology, Innovation &amp; Startups
						</div>
					</a>
				</li>

				<li class="advantages-list__item  advantage">
					<a href="#" class="advantage__wrap">
						<div class="advantage__ico  advantage__ico--biotech">
							{{mixins.icon('biotech')}}
						</div>

						<div class="advantage__title">
							Healthcare, Pharma &amp; Biotech
						</div>
					</a>
				</li>

				<li class="advantages-list__item  advantage">
					<a href="#" class="advantage__wrap">
						<div class="advantage__ico  advantage__ico--media">
							{{mixins.icon('media')}}
						</div>

						<div class="advantage__title">
							Media &amp; Entertainment
						</div>
					</a>
				</li>


				<li class="advantages-list__item  advantage">
					<a href="#" class="advantage__wrap">
						<div class="advantage__ico advantage__ico--energy">
							{{mixins.icon('energy')}}
						</div>

						<div class="advantage__title">
							Energy &amp;Minning
						</div>
					</a>
				</li>

				<li class="advantages-list__item  advantage">
					<a href="#" class="advantage__wrap">
						<div class="advantage__ico  advantage__ico--industrial">
							{{mixins.icon('industrial')}}
						</div>

						<div class="advantage__title">
							Industrial &amp; Manufacturing
						</div>
					</a>
				</li>

				<li class="advantages-list__item  advantage">
					<a href="#" class="advantage__wrap">
						<div class="advantage__ico  advantage__ico--utilities">
							{{mixins.icon('utilities')}}
						</div>

						<div class="advantage__title">
							Utilities &amp; Telecommunications
						</div>
					</a>
				</li>

			</ul>
		</div>
	</div>
</section>


<section class="logos">
	<div class="container">
		<div class="logos__inner">

			<div class="logos__item">
				<img class="logos__img" src="img/pic/logo/logo1.png" alt="logo">
			</div>

			<div class="logos__item">
				<img class="logos__img" src="img/pic/logo/logo2.png" alt="logo">
			</div>

			<div class="logos__item">
				<img class="logos__img" src="img/pic/logo/logo3.png" alt="logo">
			</div>

		</div>
	</div>
</section>


<section class="section-info">
	<div class="container">
		<div class="section-info__title">
			<div class="zigzag  zigzag--light"></div>
			<h2 class="sect-title">our Clients say</h2>
		</div>

		<div class="section-info__feedback">

			<div class="section-info__feedback-item  feedback">
				<div class="feedback__text">
					"Great experience! We needed an expert who could educate us about FDA &amp; FTC approval procedures in the US. We quickly got in touch with the right expert, and the report was straight to the point with the learn&shy;ings we were looking for."
				</div>

				<div class="feedback__info">
					<div class="feedback__photo">
						<img src="img/pic/feedback/feedback1.png" alt="Photo Christian Reventlow Trautner">
					</div>

					<div class="feedback__person">
						<div class="feedback__name">
							Christian Reventlow Trautner
						</div>
						<div class="feedback__position">
							Director of Business Development, Acteon Group
						</div>							 
					</div>
				</div>

				<div class="feedback__btn">
					<a href="#" class="btn">Find your expert</a>
				</div>

			</div>

			<div class="section-info__feedback-item  feedback">
				<div class="feedback__text">
					"These days the amount of information available on the web is enor&shy;mous, but without in-depth knowledge of a topic you don’t know whether you can fully trust what you read. Mintebi is efficiently closing that gap."
				</div>

				<div class="feedback__info">
					<div class="feedback__photo">
						<img src="img/pic/feedback/feedback2.png" alt="Photo Christian Reventlow Trautner">
					</div>

					<div class="feedback__person">
						<div class="feedback__name">
							Kristian Mogensen
						</div>
						<div class="feedback__position">
							Enhanched Oil Recovery, ENI
						</div>							 
					</div>
				</div>

				<div class="feedback__btn">
					<a href="#" class="btn">Find your expert</a>
				</div>

			</div>

		</div>

		<div class="section-info__about">
			<div class="about">
				<div class="about__wrap">
					<div class="about__img">
						<img src="img/pic/about.png" width="152" height="152" alt="img about">
					</div>

					<div class="about__item  info-sect">
						<div class="info-sect__title">
							About
						</div>
						<div class="info-sect__text">
							Mintebi Scout was founded by Andreas von Buchwald in early 2015. Andreas is a former investment manager with Axcel, a leading Nordic private equity firm. Our team of six is based in Copenhagen, Denmark, and we raised $400K in seed financing earlier this year. Mintebi Scout is a part of mintebi.com.
						</div>

						<div class="info-sect__btn">
							<a href="#" class="btn">Find your expert within 24hrs</a>
						</div>

					</div>

					<div class="about__item  about__item--main  info-sect">
						<div class="info-sect__title">
							Contact
						</div>
						<div class="info-sect__text">
							Mintebi ApS<br>
							Sankt Annae Plads 11<br>
							1250-Copenhagen, Denmark<br>
							VAT no.: 36428198<
						</div>

						<div class="info-sect__contacts">
							<a class="info-sect__contact-link" href="mailto:avb@mintebi.com">
								avb@mintebi.com
							</a>
							<a class="info-sect__contact-link" href="tel:4540993822">
								(+45) 40 99 38 22
							</a>
						</div>

					</div>	
				</div>
			</div>
		</div>
	</div>
</section>

</main>

<footer class="footer">
	<div class="container">
		<div class="footer__wrap">
			<div class="footer__copyriting">
				Copyright © 2015 Mintebi APS. All rights reserved. ngIf: !oldBrowser Terms &amp; Conditions Privacy Policy end ngIf: !oldBrowser Mintebi APS, Sankt Annae Plads 11, 1250 Copenhagen, Denmark
			</div>

			<div class="footer__social">
				<ul class="social-list">
					<li class="social-list__item">
						<a class="social-btn  social-btn--tw" href="#" target="_blank" title="link twitter"></a>
					</li>
					<li class="social-list__item">
						<a class="social-btn  social-btn--in" href="#" target="_blank" title="link in"></a>
					</li>
					<li class="social-list__item">
						<a class="social-btn  social-btn--fb" href="#" target="_blank" title="link facebook"></a>
					</li>
				</ul>
			</div>

		</div>

	</div>
</footer>

{% endblock %}
