<footer class="footer">
	<div class="footer__wrap">
		<div class="container">
			<div class="footer__copyriting">
				Copyright © 2015 Mintebi APS. All rights reserved. ngIf: !oldBrowser Terms &amp; Conditions Privacy Policy end ngIf: !oldBrowser Mintebi APS, Sankt Annae Plads 11, 1250 Copenhagen, Denmark
			</div>
		</div>

		<div class="footer__social">
			<ul class="social-list">
				<li class="social-list__item">
					<a class="social-btn  social-btn--tw" href="#" target="_blank" title="link twitter"></a>
				</li>
				<li class="social-list__item">
					<a class="social-btn  social-btn--in" href="#" target="_blank" title="link in"></a>
				</li>
				<li class="social-list__item">
					<a class="social-btn  social-btn--fb" href="#" target="_blank" title="link facebook"></a>
				</li>
			</ul>
		</div>

	</div>
</footer>